#header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center;
    color:gray;
    background-color:#f5f5f5;
    padding:30px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
    color:white;
    background-color:black;
    padding:10px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

p.main {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  font-size: 18;
  display:block;
  border-bottom:2px solid #efefef;
}
.likert:last-of-type {border-bottom:0;}
.likert:before {
  content: '';
  position:relative;
  top:11px;
  display:block;
  background-color:#efefef;
  height:4px;
  width:40%;
}
.likert li {
  display:inline-block;
  width:10%;
  text-align:center;
  vertical-align: top;
}
.likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
.likert li label {width:100%;}